<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171454528240-vl48hniv9habr27jd8thce0bt9qaa23k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171454528240-vl48hniv9habr27jd8thce0bt9qaa23k</string>
	<key>API_KEY</key>
	<string>AIzaSyD56sW7v29mAR01Y-abeg68NJJ-nr-_6OU</string>
	<key>GCM_SENDER_ID</key>
	<string>171454528240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carsApp</string>
	<key>PROJECT_ID</key>
	<string>cars-app-99694</string>
	<key>STORAGE_BUCKET</key>
	<string>cars-app-99694.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171454528240:ios:021bc2c23ee461d636e035</string>
</dict>
</plist>